.pageSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pageSelect__button {
    height: 35px;
    padding: 0;
    width: 100%;
    border-radius: 0;
    overflow: hidden;

}

.sidebar {
    height: 20px;
    padding: 45px 0 0 0;

}

.sidebar__menu {
    position: fixed;
    top: 38px;
}

.sidebar__pusher {
    display: flex;
    justify-content: center;
}

