
.pageDay__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.quoteList__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 75px 15px;

}

.quoteList__contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 40px 15px;

}

.list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}