.card__header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}


.editAndDelete__container {
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin: 20px;
}


.cardTitle {
    display:flex;
}

.open__button {
    margin: 7px 0 0 0
}


.card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 15px 30px 0
}

.cardContent {
    display: flex;
    justify-content: right;
    height: 400px;
}

.dayInt__button {
    margin: 10px;
    min-width: 40px;
    min-height: 40px;

}

.card__body {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.editAndDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;


}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goToPage {
    display: flex;
    justify-content: center;
}

.searchResult__card {
    margin: 15px 0 15px 15px;
}

.searchResult__content {
    display: flex;
    align-items: center;
}

.bookCard {
    width: 280px;

}