.card__header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.bookCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 260px;
    max-width: 260px;
    min-height: 330px;
    border: 1px solid lightgray;
    margin: 15px 20px 15px 60px;
    border-radius: .25rem;
    background-color: #f7f7f7;
}


.addCard {
    display: flex;
    min-width: 260px;
    max-width: 260px;
    height: 330px;
    border: 1.5px dashed grey;
    margin: 15px 20px 15px 60px;
    border-radius: .25rem;
    background-color: #f7f7f7;
    opacity: 0.35;
}

.addCard__content {
    display: flex;
    align-items: center;
    margin: 0 0 0 46%
}

.card__title {
    display:flex;
    margin: 20px 5px;
}

.open__button {
    margin: 7px 0 0 0
}


.card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 15px 30px 0
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: left;


}

.dayInt__button {
    margin: 10px;
    min-width: 40px;
    min-height: 40px;
}


.card__body {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.goToPage {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px
}

.book__description {
    margin: 15px;
}

.searchResult__card {
    margin: 15px 0 15px 15px;
}

.searchResult__card__header {
    margin: 20px;
    display: flex;
    align-items: center;
}


.searchResult__content {
    display: flex;
    align-items: center;
}

