.card__header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}


.editAndDelete__container {
    display: flex;
    flex-direction: row;
    display: inline-block;
}


.cardTitle {
    display:flex;
}

.open__button {
    margin: 7px 0 0 0
}


.card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0
}

.cardContent {
    display: flex;
    justify-content: right;
}

.dayInt__button {
    margin: 10px;
    min-width: 35px;

}

.card__body {
    display: flex;
    justify-content: center;
}