.thoughtList__header {
    display: flex;
    flex-direction: row;
}

.thoughtList__contents {
    text-align: center;
}


.thoughtImage {
    display: inline-block;
}

.thoughtCard {
    margin: 0 15px 0 0;
    text-align: left;
}

.card {
    background-color: #f7f7f7 !important;
}

.logo {
    width: 40px;
    height: 40px;
}