.nav__container {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%
}

.appViews__container {
    top: 15px;
    justify-content: center;
    position: relative;
    bottom: 32px;

}

.nav__menu {
    position: relative;
    width: 100%;
}